*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(249, 249, 181);
}
.nav .memu{
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav .memu a{
  text-decoration: none;
  color: black;
  font-size: x-large;
}
.nav .memu a:hover{
  color: blue;
}
.nav .btns button{
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  
  background-color: rgb(6, 6, 6);
}
.btns button a{
  text-decoration: none;
  color: white;   
}

.btns button:hover{
  transform: scale(0.9);
  
}
button{
  cursor: pointer;
  color: white;
  
}
.roundimage{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}
.image{
  margin: 25px 0px;
  text-align: center;
}
.image1 img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.image2 img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.image3 img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}



#container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 350px;
  margin: 80px;
  box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45);
  text-align: center;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}



#main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  width: 280px;
  height: 300px;
  margin: 70px;
  border: 10px solid;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}

.box img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.price{
  color: black;
}
.rating{
  color: black;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  background-color: rgb(105, 102, 102);
  color: white;
}
.f1{
  width: 25%;
  text-align: center;
  margin-right: 50px;
}
.f2{
  width: 55%;
  text-align: center;
  
}
.footer2{
  text-align: center;
  padding: 10px;
  background-color: rgb(105, 102, 102);
  color: white;
}


.contact{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

form{
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-row-gap: 10px;
  padding: 10px;
}
.field{
  grid-column: span 2;
  display: grid;
}
.field1{
  grid-column: span 1;
  display: grid;
}
form input{
  width: 300px;
}
.contactimg{
  padding-top: 60px;
}


.loginmain{
  background-image: url('https://cdn.pixabay.com/photo/2019/03/09/13/31/email-4044165_1280.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}
.login .loginbox{
  background-color: rgb(249, 249, 181);
  padding: 30px;
  border-radius: 10px;
}
.login h2{
  text-align: center;
}
.login button{
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  color: black;
}
.loginbox p{
  text-align: end;
  cursor: pointer;
  padding-bottom: 10px;
}
h2{
  margin: 20px;
}
h1{
  margin: 40px 20px;
}
.logo img{
  width: 100px;
  padding: 10px;
}

.marq {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.scroll-text {
  width: 100%;
  display: inline-block;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
